<div class="w-[600px] relative bottom-[60px]">
    <div class=" bg-gradient-to-l from-[#3CB7DE] to-[#3FA3FF] overflow-hidden rounded-l-full -rotate-[17.91deg] relative top-[9.5rem] left-[11em]  bg-[#3CB7DE] w-[80rem] h-[42rem]">
        <img width="620px" height="620px" class=" relative left-[100px] top-[55px] rotate-[17.91deg] " src="assets/img/dog.png" alt="Dog">
        <img width="980px" height="780px" class=" rotate-[17.91deg] relative left-[110px] bottom-[840px]" src="assets/img/Paws.svg" alt="">  
    </div>
    <img width="400px" height="347px" class=" left-[130px] relative" src="assets/img/ration.png" alt="">
    
</div>

