
<div class="mt-[290px]">
    <h1 class="text-[#3C184E] mt-[290px] leading-[80px] font-black font-merriweather text-[84px]">Ajude quem </h1>
    <h2 class="text-[#3C184E] font-black font-merriweather text-[84px]">precisa de ajuda</h2>
    <img class=" relative bottom-[15px]" width="300px" src="assets/img/Vector1.svg" alt="" >
    <p class=" mt-3 text-[22px] text-[#3C184E] font-rubik">Com apenas 1 real voce pode me ajudar a alimentar cães de rua</p>
    <button class="btn" onclick="LoginModal.showModal()"  class="active:bg-[#3e2388] active:scale-95 hover:bg-[#5f36ce] duration-300 ease-in-out bg-[#713FFF] py-3 px-10 mt-10 font-light text-[22px] text-white font-rubik rounded-full">
        Contribuir
    </button>
    <a class="ml-6 text-[22px] text-[#3C184E] font-rubik" href="/#">Entre em contato</a>  
</div>

<app-contribuition-modal></app-contribuition-modal>
