<div data-theme="dark">

  <p class="animate-fade animate-once animate-duration-1000 animate-ease-in animate-normal mt-6 text-[48px] text-center">DASHBOARD</p>
  <div class=" max-h-[720px] max-[450px]:mx-6 mx-24 overflow-x-auto">
      
      <table class=" animate-fade-up animate-once my-12 table table-zebra">
        <!-- head -->
        <thead>
          <tr>
            <th>Id</th>
            <th>Nome</th>
            <th>E-mail</th>
            <th>Valor</th>
            <th>Created_at</th>
          </tr>
        </thead>
        <tbody>
          <!-- row 1 -->
          <tr *ngFor="let user of users$ | async" >
            <th>{{ user.id }}</th>
            <td>{{ user.name }}</td>
            <td >{{ user.email }}</td>
            <td>{{ user.value }}</td>
            <td>{{ user.created_at }}</td>
          </tr>
          <!-- row 2 -->
        </tbody>
     </table>
  </div>
</div>
