<p class=" mt-6 text-[48px] text-center">DASHBOARD</p>
<div class=" max-[450px]:mx-6 mx-24 overflow-x-auto">
    
    <table class=" mt-12 table table-zebra">
      <!-- head -->
      <thead>
        <tr>
          <th></th>
          <th>Nome</th>
          <th>E-mail</th>
          <th>Valor</th>
        </tr>
      </thead>
      <tbody>
        <!-- row 1 -->
        <tr>
          <th>1</th>
          <td>Cy Ganderton</td>
          <td>Quality Control Specialist</td>
          <td>25</td>
        </tr>
        <!-- row 2 -->
        <tr>
          <th>2</th>
          <td>Hart Hagerty</td>
          <td>Desktop Support Technician</td>
          <td>40</td>
        </tr>
        <!-- row 3 -->
        <tr>
          <th>3</th>
          <td>Brice Swyre</td>
          <td>Tax Accountant</td>
          <td>15</td>
        </tr>
      </tbody>
    </table>
  </div>
